Api/MISInterfaceDAL/Web References/VehicleTransfer/ZFEPV_GetBLInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBLInfoByBL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BLNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastModifyDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBLInfoByBLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBLInfoByBLResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBLInfoByBLSoapIn">
    <wsdl:part name="parameters" element="tns:GetBLInfoByBL" />
  </wsdl:message>
  <wsdl:message name="GetBLInfoByBLSoapOut">
    <wsdl:part name="parameters" element="tns:GetBLInfoByBLResponse" />
  </wsdl:message>
  <wsdl:portType name="ZFEPV_GetBLInfoSoap">
    <wsdl:operation name="GetBLInfoByBL">
      <wsdl:input message="tns:GetBLInfoByBLSoapIn" />
      <wsdl:output message="tns:GetBLInfoByBLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZFEPV_GetBLInfoSoap" type="tns:ZFEPV_GetBLInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBLInfoByBL">
      <soap:operation soapAction="http://tempuri.org/GetBLInfoByBL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZFEPV_GetBLInfoSoap12" type="tns:ZFEPV_GetBLInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBLInfoByBL">
      <soap12:operation soapAction="http://tempuri.org/GetBLInfoByBL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZFEPV_GetBLInfo">
    <wsdl:port name="ZFEPV_GetBLInfoSoap" binding="tns:ZFEPV_GetBLInfoSoap">
      <soap:address location="http://10.17.213.167:8006/ZFEPV_GetBLInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ZFEPV_GetBLInfoSoap12" binding="tns:ZFEPV_GetBLInfoSoap12">
      <soap12:address location="http://10.17.213.167:8006/ZFEPV_GetBLInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>